<!DOCTYPE html>

<html>
    <head>
        <title>Beego</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-light bg-light px-5">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Tweetream</span>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        Choose Topic
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                        {{range $topic := .topics}}
                            <li><a class="dropdown-item" href="#">{{$topic}}</a></li>
                        {{end}}
                    </ul>
                    <button class="btn btn-danger disabled" type="button" id="delete-topic-btn">Delete Topic</button>
                </div>
                <div class="btn-group">
                    <input placeholder="Topic Name" id="new-topic-input">
                    <button class="btn btn-secondary" type="button" id="create-topic-btn">Create Topic</button>
                </div>
            </div>
        </nav>

        <!-- body, will be filled with tweets -->
        <div class="container"></div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script defer>
            (
                function() {
                    let socket = undefined;
                    
                    // Upstream streamer server for pushing information about topic creation & deletion
                    const STREAMER_SERVER = {{.STREAMER_SERVER}};

                    // create a websocket connection to listen to a topic
                    function createWebSocket(topic) {
                        // close any ongoing socket connection
                        if (socket !== undefined) {
                            socket.close(1000);
                            socket.send("close");
                        }

                        // Create a socket
                        socket = new WebSocket('ws://' + window.location.host + '/ws?topic=' + topic)
                        socket.onmessage = function (event) {
                            const data = JSON.parse(event.data)

                            const card = document.createElement("div")
                            card.classList.add("card")
                            
                            const cardHeader = document.createElement("h5")
                            cardHeader.classList.add("card-header")
                            cardHeader.innerHTML = data["prediction"]

                            const cardBody = document.createElement("div")
                            cardBody.classList.add("card-body")

                            const cardUsername = document.createElement("h5")
                            cardUsername.classList.add("card-title")
                            cardUsername.innerHTML = data["username"]

                            const cardCreatedAt = document.createElement("p")
                            cardCreatedAt.classList.add("text-muted")
                            cardCreatedAt.innerHTML = data["created_at"]

                            const cardTweet = document.createElement("p")
                            cardTweet.classList.add("card-text")
                            cardTweet.innerHTML = data["text"]

                            cardBody.appendChild(cardUsername)
                            cardBody.appendChild(cardCreatedAt)
                            cardBody.appendChild(cardTweet)
                            card.appendChild(cardHeader)
                            card.appendChild(cardBody)
                            document.getElementsByClassName("container")[0].prepend(card)
                        }
                        socket.onopen = function (_) {
                            console.log("onopen")
                        }
                        socket.onclose = function (_) {
                            console.log("onclose")
                        }
                        socket.onerror = function (_) {
                            console.log("onerror")
                        }
                    }

                    // request topic modification to the streamer server
                    function modifyTopic(method, topic) {
                        const url = "http://" + STREAMER_SERVER;
                        const data = {
                            'tags': [topic]
                        }
                        
                        fetch(url, {
                            method: method,
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                            .then(response => {
                                location.reload()
                            })
                            .catch(err => {
                                console.log(err)
                            })
                    }

                    // create or delete topic
                    function createTopic(topic) {
                        modifyTopic('POST', topic)
                    }
                    function deleteTopic(topic) {
                        modifyTopic('DELETE', topic)
                    }

                    // get current topic element button
                    const current_topic_btn = document.querySelector(".btn-group > button")
                    const delete_topic_btn = document.getElementById("delete-topic-btn")

                    // topic changer listener
                    document.querySelectorAll(".btn-group .dropdown-menu .dropdown-item")
                        .forEach(topic_element => {
                            topic_element.addEventListener("click", function() {
                                current_topic_btn.innerHTML = topic_element.innerHTML
                                createWebSocket(topic_element.innerHTML)
                                delete_topic_btn.classList.remove('disabled')

                                if (topic_element.innerHTML === "TWClassified") {
                                    delete_topic_btn.classList.add('disabled')
                                }
                            })
                        })

                    // topic creator listener
                    document.getElementById("create-topic-btn")
                        .addEventListener("click", function() {
                            const new_topic = document.getElementById("new-topic-input").value
                            createTopic(new_topic)
                        })

                    // topic deletor listener
                    delete_topic_btn
                        .addEventListener("click", function() {
                            const current_topic = document.getElementById("defaultDropdown").innerHTML
                            deleteTopic(current_topic)
                        })
                }
            )();
        </script>
    </body>
</html>